# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\VaHaJo.VAHAJO\OneDrive - UC Leuven-Limburg\2020-2021\Semester 2\Webontwikkeling 2\web2-labos\Week 8\Labo Cookies\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
